<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Page 1</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Uitloggen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">

  <h2>Welkom op Page 1</h2>
  <p>Hier kun je de specifieke content voor jouw eerste pagina plaatsen.</p>
</ion-content>

