<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Camping MAKA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Camping MAKA</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Content-->
  <h2>Over de camping</h2>
  <p>Helemaal links op de foto ziet u een wit gebouwtje, dat is onze receptie en barretje met terras.</p>

  <ion-card>
    <img src="https://www.campingmaka.be/_Media/img_8953-2_med.jpeg" alt="Uitzicht op Camping MAKA"/>
    <ion-card-content>Prachtig groen uitzicht over de Semois</ion-card-content>
  </ion-card>
</ion-content>