<ion-tabs>
  <!-- De router-outlet laadt de losse pagina's (home, page1, etc.) veilig in -->
  <ion-router-outlet></ion-router-outlet>

  <!-- Navigatiebalk strak onderaan de pagina -->
  <ion-tab-bar slot="bottom">

    <!-- tab="home" moet exact matchen met het path uit app-routing.module.ts -->
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page1">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page2">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page3">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 3</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>