<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Uitloggen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">

  <div class="welcome-container">
    <h1>Welkom op de Homepage!</h1>
    <p>Je bent succesvol ingelogd en deze pagina is beveiligd.</p>
    <p>Gebruik de navigatiebalk onderaan om te wisselen van scherm.</p>
  </div>

</ion-content>

<ion-tabs>
  <!-- De router-outlet laadt de losse pagina's veilig in -->
  <ion-router-outlet></ion-router-outlet>

  <!-- Navigatiebalk strak onderaan de pagina -->
  <ion-tab-bar slot="bottom">

    <!-- tab="homepage" matcht nu exact met de routing -->
    <ion-tab-button tab="homepage">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page1">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page2">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page3">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Page 3</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>