<!-- Vaste header boven elke pagina -->
<ion-header>
  <ion-toolbar color="primary">
    
    <!-- Home knop -->
    <ion-buttons slot="start">
      <ion-button routerLink="/homepage/main">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Intranet</ion-title>
    
    <!-- Uitlogknop -->
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <!-- Banner die gebruikmaakt van jouw .header-banner klasse -->
  <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">
</ion-header>

<!-- De tabs-structuur -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="main" href="/homepage/main">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page1" href="/homepage/page1">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Pagina 1</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page2" href="/homepage/page2">
      <ion-icon name="document"></ion-icon>
      <ion-label>Pagina 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="page3" href="/homepage/page3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Pagina 3</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>