<ion-content [fullscreen]="true" class="ion-padding login-content-green" [scrollY]="false">
  
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="full-width-form login-container-flex">
    <ion-grid class="ion-no-padding full-height-grid">
          
<!-- Bloemenafbeelding -->
      <ion-row class="image-row">
        <ion-col size="12" class="ion-no-padding">
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="login-banner-wide">
        </ion-col>
      </ion-row>
      
<!-- Welkomstkaart -->
      <ion-row class="form-row">
        <ion-col size="10" offset="1">
          <ion-card class="ion-no-margin ion-padding login-welcome-card-green full-width-card">
            <h2>Welkom</h2>
            <p class="welcome-text">Vul je gegevens in om toegang te krijgen</p>
          </ion-card>
        </ion-col>
      </ion-row>

<!-- E-mail Veld -->
      <ion-row class="form-row">
        <ion-col size="10" offset="1">
          <ion-item class="input-item-green">
            <ion-input label-placement="floating" type="email" ngModel name="email" required email>
            <div slot="label" style="font-size: 16px; font-weight: 600; color: black (0, 0, 0, 0.5);">E-mail</div>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

<!-- Wachtwoord Veld met het oogje -->
      <ion-row class="form-row">
        <ion-col size="10" offset="1">
          <ion-item class="input-item-green">
            <ion-input label-placement="floating" type="password" ngModel name="password" required>
            <div slot="label" style="font-size: 20px; font-weight: 600; color: black (0, 0, 0, 0.5);">Wachtwoord</div>
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

<!-- Foutmelding 
      <ion-row *ngIf="errorMessage" class="error-row">
        <ion-col size="10" offset="1" class="ion-text-center login-error-status">
          <ion-icon name="alert-circle-outline"></ion-icon>
          <p>{{ errorMessage }}</p>
        </ion-col>
      </ion-row> -->

<!-- Login Knop -->
      <ion-row class="button-row">
        <ion-col size="10" offset="1">
          <ion-button expand="block" class="login-btn-submit-green" type="submit" [disabled]="!loginForm.valid || isLoggingIn">
            Log in
          </ion-button>
        </ion-col>
      </ion-row>

<!-- Inlog Melding met spinner -->
      <ion-row *ngIf="isLoggingIn" class="loading-row">
        <ion-col size="10" offset="1" class="ion-text-center login-loading-status">
          <ion-spinner name="crescent"></ion-spinner>
          <p>You are being logged in...</p>
        </ion-col>
      </ion-row>

<!-- Sign up Knop -->
      <ion-row class="button-row">
        <ion-col size="10" offset="1">
          <ion-button expand="block" class="login-btn-submit-green" type="button">
            Sign up
          </ion-button>
        </ion-col>
      </ion-row>

<!-- Wachtwoord Vergeten -->
      <ion-row class="forgot-password-row">
        <ion-col size="10" offset="1" class="ion-text-center">
          <a (click)="onForgotPassword()" class="forgot-password-link">Wachtwoord vergeten?</a>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>