<ion-content [fullscreen]="true" class="ion-padding">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="full-width-form">
    <ion-grid class="ion-no-padding">
          
      <!-- Bloemenafbeelding -->
      <ion-row>
        <ion-col class="ion-text-center">
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">
        </ion-col>
      </ion-row>
      
      <!-- Welkomstkaart -->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-card class="ion-no-margin ion-padding login-welcome-card">
            <h2>Welkom</h2>
            <p class="welcome-text">Vul je gegevens in om toegang te krijgen</p>
          </ion-card>
        </ion-col>
      </ion-row>

      <!-- E-mail Veld -->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item class="ion-margin-bottom input-item">
            <ion-input label="E-mail" label-placement="floating" type="email" ngModel name="email" required email></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Wachtwoord Veld met het oogje (Nu met correct gesloten tags) -->
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item class="ion-margin-bottom input-item">
            <ion-input 
              label="Wachtwoord" 
              label-placement="floating" 
              type="password" 
              ngModel 
              name="password" 
              required>
              <ion-input-password-toggle slot="end"></ion-input-password-toggle>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <!-- Login Knop -->
      <ion-row class="ion-padding-top">
        <ion-col size="10" offset="1">
          <ion-button expand="block" color="primary" type="submit" [disabled]="!loginForm.valid">
            Login
          </ion-button>
        </ion-col>
      </ion-row>

      <!-- Sign up Knop (Aangepast naar type="button" en fill="clear") -->
      <ion-row class="ion-padding-top">
        <ion-col size="10" offset="1">
          <ion-button expand="block" fill="clear" color="primary" type="button">
            Sign up
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>