<ion-content [fullscreen]="true" class="ion-text-center login-content-green">
  
  <!-- Alle inline styles zijn hier nu verwijderd -->
  <img src="assets/bloemen.jpg" alt="Welkom" referrerpolicy="no-referrer" class="header-banner">

  <div class="welcome-container ion-padding">
    <h1>Welkom op onze bedrijfspagina</h1>
    <p>Klik op de onderstaande knop om in te loggen op het Intranet.</p>

    <ion-button expand="block" routerLink="/login" color="primary" class="login-button">
      Naar Inloggen
    </ion-button>
  </div>

</ion-content>

