<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Page 3</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Uitloggen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding no-spacing-grid">           
  <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">

  <ion-grid>
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
      </ion-col> 
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn">
          Zoek-invoerscherm
        </ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="tab-nav-toolbar">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col class="ion-text-center"><ion-button fill="clear" routerLink="/home" routerDirection="root" class="tab-nav-btn"><div class="tab-btn-content"><ion-icon name="home-outline"></ion-icon><ion-label>Home</ion-label></div></ion-button></ion-col>
        <ion-col class="ion-text-center"><ion-button fill="clear" routerLink="/page1" routerDirection="root" class="tab-nav-btn"><div class="tab-btn-content"><ion-icon name="document-text-outline"></ion-icon><ion-label>Page 1</ion-label></div></ion-button></ion-col>
        <ion-col class="ion-text-center"><ion-button fill="clear" routerLink="/page2" routerDirection="root" class="tab-nav-btn"><div class="tab-btn-content"><ion-icon name="document-text-outline"></ion-icon><ion-label>Page 2</ion-label></div></ion-button></ion-col>
        <ion-col class="ion-text-center"><ion-button fill="clear" routerLink="/page3" routerDirection="root" class="tab-nav-btn active-tab"><div class="tab-btn-content"><ion-icon name="document-text-outline"></ion-icon><ion-label>Page 3</ion-label></div></ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>