<!-- Content en Scrollfunctie (Gebruikt jouw native-scroll uit global.scss) -->
<ion-content [fullscreen]="true" class="ion-padding native-scroll" [scrollY]="true">

  <!-- Ingepakt in de .content wrapper voor de max-width van 600px en centrering -->
  <div class="content">

    <h2>Welkom op Page 3</h2>
    <p>Content page 3</p>
    
    <!-- Jouw unieke matrix-grid met 5 rijen -->
    <ion-grid class="matrix-grid">
      <!-- Rij 1 -->
      <ion-row class="grid-row-zero">
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
        </ion-col> 
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn">
            Zoek-invoerscherm
          </ion-button>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
        </ion-col>
      </ion-row>

      <!-- Rij 2 -->
      <ion-row class="grid-row-zero">
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-card>
            <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
            <ion-card-content>Bloemen (Rij 2)</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
      </ion-row>

      <!-- Rij 3 -->
      <ion-row class="grid-row-zero">
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-card>
            <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
            <ion-card-content>Bloemen (Rij 3)</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
      </ion-row>

      <!-- EXTRA TEST RIJ 4 -->
      <ion-row class="grid-row-zero">
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-card>
            <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
            <ion-card-content>Bloemen (Rij 4)</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
      </ion-row>

      <!-- EXTRA TEST RIJ 5 -->
      <ion-row class="grid-row-zero">
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-card>
            <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
            <ion-card-content>Bloemen (Rij 5)</ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col class="col-padding-zero">
          <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div> <!-- Sluiting van de .content wrapper -->
</ion-content>