<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Page 3</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Uitloggen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-spacing-grid native-scroll">        
  <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="header-banner">

  <ion-grid class="matrix-grid">
    <!-- Rij 1 -->
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
      </ion-col> 
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn">
          Zoek-invoerscherm
        </ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="solid" color="secondary" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <!-- Rij 2 -->
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen (Rij 2)</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <!-- Rij 3 -->
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen (Rij 3)</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <!-- EXTRA TEST RIJ 4 -->
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen (Rij 4)</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>

    <!-- EXTRA TEST RIJ 5 -->
    <ion-row class="grid-row-zero">
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-card>
          <img src="assets/bloemen.jpg" alt="Bloemen" referrerpolicy="no-referrer" class="card-banner">
          <ion-card-content>Bloemen (Rij 5)</ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="col-padding-zero">
        <ion-button expand="block" fill="none" color="none" size="small" class="matrix-btn"></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>