/* Verwijdert alle witruimte tussen kolommen, rijen en knoppen */
.no-spacing-grid ion-grid {
    padding: 0;
}

.no-spacing-grid ion-row {
    padding: 0;
}

.no-spacing-grid ion-col {
    padding: 0;
}

.no-spacing-grid ion-button {
    margin: 0;
    --border-radius: 0; /* Optioneel: maakt hoeken recht voor een strakker effect */
}

.bg-light-blue {
    background-color: #add8e6 !important;
}